<!DOCTYPE html>
<html lang="en" ng-app="appCONS">
<head>


    <link  rel = "stylesheet"  href = "css/form.css">

    <link  rel = "stylesheet"  href = "css/ngDialog.min.css">
    <link  rel = "stylesheet"  href = "css/ngDialog-theme-default.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <title>Nueva Cuenta</title>
    <script src="js/angular.min.js"></script>

</head>

<body>

<div class="jumbotron" ng-controller="Formulario">


    <div class="ng-cloak">
        <h2>BIENVENIDO! <br>Alta de Cuenta Nueva</h2>
        <div class="container-fluid">
            <h3>Complete los datos requeridos:</h3>

            <ol>
                <div ng-class="'frm-w'">
                    <form id="FRM" name="FRM">
                        <div>
                            Nombre
                            <input ng-model="P.NOM" required>
                            <br>

                            Email
                            <input ng-model="P.MAIL" required>
                            <br>

                            Clave
                            <input ng-model="P.PASS" required>
                            <br>

                            Telefono
                            <input ng-model="P.TEL">
                            <br>

                            Descripcion de su persona o actividad que ofrece.
                            <input ng-model="P.DES">
                            <br>

                            Foto/imagen
                            <input type="file" id="files" name="files[]" />
                            <br />
                            <output id="list"></output>
                            <br>

                        </div>


                        <br>
                        <button ng-click="GUA()" >GUARDAR</button>
                    </form>

                </div>

            </ol>
        </div>
    </div>


</div>



<!--script src="js/jquery-3.2.1.min.js"></script
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.datetimepicker.full.js"></script>-->

<script type="text/javascript" src="js/angular.min.js"></script>

<script src = "js/ngDialog.min.js"> </script>

<script src="https://unpkg.com/ag-grid/dist/ag-grid.js"></script>


<script src="js/jquery-3.2.1.min.js" type="application/javascript"></script>


<!--script  src = "js/jquery-validation/js/jquery.validate.js"> </script>

<script  src = "js/jquery-validation/js/additional-methods.js"> </script>
<script  src = "js/jquery-validation/js/localization/messages_ar.js"> </script-->

<script type="text/javascript" src="constantes.js"></script>
<script type="text/javascript" src="NEWCTA.js"></script>

<script src="grilla.js"></script>







</body>
</html>